### PCA

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [8]:
load_errors = pd.read_csv("../src/data/load_errors_date.csv", parse_dates = ["date"]).drop("Unnamed: 0", axis = 1)
pv_errors = pd.read_csv("../src/data/pv_errors_date.csv", parse_dates = ["date"]).drop("Unnamed: 0", axis = 1)
load_errors.head(2)

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,date,rmse
0,-0.700000,-2.64375,-3.2250,-7.85,-0.859375,6.2625,10.91875,3.75,10.096875,11.5000,...,42.015625,36.7875,18.03125,22.3125,12.675000,19.76875,-31.790625,-24.0000,2021-04-08 00:00:00,39.105831
1,-1.990625,-2.55000,-7.2375,-0.10,7.000000,11.5875,4.31875,10.75,11.362500,-9.1875,...,39.412500,21.0000,25.28125,15.4500,22.565625,-28.30625,-20.521875,-12.9375,2021-04-08 00:10:00,40.907865